In [1]:

str name = 'ajit'
name = 23

# temp = 30
print(name)

# print(temp)


# a = "ajit"
# b = "kunwar"
# c = a + ' ' + b

# print(c)

name = 12

print(name)

name = True

print(name)

name = 'ram'

print(name)

name = 'ajit'

print(name)

SyntaxError: invalid syntax (<ipython-input-1-3b693ffbf8b0>, line 1)

In [ ]:
# Data Types

# Primitive

'''
int = numbers  eg 1,5,457,686,-1,-234
float = numbers with decimal points 23.43, 312.421, -234.234 
string = "Ajit", "20"
boolean = True/False 
'''

In [ ]:
# Array / List

arr = [4,5,6,8,5,3,65]
brr = ['rita','gita','rita']
crr = ['ajit',23,1000.5,True]

# print(arr)
# print(brr)



brr = ['rita','gita','sita']


print(brr[3])

In [ ]:
# User input

name = input()

print(name)

In [ ]:
# Static lang

# C

# int a = 12
# a = 32
# int b = 30.3
# int sum = a+b

Dynamic

a = 12
b = 32
c = a + b

In [ ]:

input_var = input()
print(input_var)

In [ ]:
arr = [4,5,7,1,9]

a = arr[0]
l = len(arr)




for i in range(l):
    print(arr[i])

In [ ]:

for i = 0, i < 9, i = i + 1
{
    print('ajit kunwar')   
}    


    
i = 0

i = 1

In [ ]:

for i in range(9):
    print('ajit')
    
    
    

print('ram')

In [8]:
age = 20

if age >= 18:
    print('you can vote')
else:
    print("you can't vote")

you can vote

In [12]:
# Write a program that takes 5 subject marks form 
# the user gets the percentage and returns the division

# 5 subject input = 5 var = datatype int,float
# input form user = input()

maths = float(input("marks maths: "))
science = float(input("marks sci: "))
comp = float(input("marks comp: "))
eng = float(input("marks eng: "))
nep = float(input("marks nep: "))

# percentage calc
# obtmarks = (maths + science + comp + eng + nep)
per = ((maths + science + comp + eng + nep)/500)*100
print(per)

# edge case fail = marks less than 40 
if (maths < 40) or (science < 40) or (comp < 40) or (eng < 40) or (nep < 40):
    print('Fail')

# returns the division
# dist = 80% to 100%
# 1div = 60 == (60.00 - 60.99) to 79.99
# 2dnd = 50 to 59
# 3div = 40 to 49
if (per >= 80 and per <= 100):
    print("Distinction")
elif (per >= 60 and per < 80):
    print("First Div")
elif (per >= 50 and per < 60):
    print("Second Div")
elif (per >= 40 and per < 50):
    print("Third Div")
else:
    print('Fail Div')

marks maths: 20
marks sci: 90
marks comp: 90
marks eng: 90
marks nep: 90
76.0
Fail
First Div

In [ ]:
# programming
# programming is business logic translation
# make app
# trucking  transport goods form syd to melb


and = true and true if all true then true => true

or = only one true is true => 

not = true

In [6]:

# if (this):
#     then do this
# else:
#     do this


if (cond.):
    do this
elif (cond.):
    do this
else:
    this




color = 'green'

if color == 'green':
    print('yes fav color')
else:
    print('dont like color')

yes fav color

In [ ]:
= assignment
== equal to

In [5]:


tax_rate = 13.5

iphone = 900

tax_ammount = (13.5 / 100) * 900

print(tax_ammount)


meal = 12

tip_per = 20

tip_ammount = 12  20

121.50000000000001

In [20]:

# Given an integer, , perform the following conditional actions:

num = 4

# If  is odd, print Weird

if (num % 2 == 1 ):
    print('Weird')

# If  is even and in the inclusive range of 2 to 5 , print Not Weird
elif (2 <= num <= 5):
    print("Not Weird")


# If  is even and in the inclusive range of 6 to 20 , print Weird
elif (6 <= num <= 20):
    print("Weird")


# If  is even and greater than 20, print Not Weird
else :
    print('Not Weird')

Not Weird

In [13]:


# Even or Odd

# What is even

# What is odd

num = 15

num1 = 12

if (num1 % 2 == 0):
    print('Even')
else:
    print('odd')

Even

In [1]:
print("asdf")

asdf

In [15]:
# loops
# for loop


# for i = 0, i < 10, i += 1:
#     print("Hello")



name = "Ajit"

n = 5

for i in range(10):
    print(f'{n} ** {i} = {n**i}')
    print(f'My name is {n}')


1 st loop 
i == 0 : i < 10 : i +=1
'{n} ** {i} = {n**i}'        
  5      0  =   1
    
2nd loop
i = 1 : i < 10 : i +=2
'{n} ** {i} = {n**i}'        
  5      1  =   5

5 ** 0 = 1
5 ** 1 = 5
5 ** 2 = 25
5 ** 3 = 125
5 ** 4 = 625
5 ** 5 = 3125
5 ** 6 = 15625
5 ** 7 = 78125
5 ** 8 = 390625
5 ** 9 = 1953125

In [17]:
arr = [3,6,1,0,4,7,13,7,33]

ref_val =  arr[0]


for i

3

In [ ]:

# Python Beginner

# Set up python enviroment at least 2 

# basic Variable

# Basic Datatypes

# Input Output

# Basic maths operations

# Basics of Loop for and while

# Basics of conditionals

In [37]:
# Lists/array  = collection of objects it is mutable



arr = [2,1,4,5,6,7,234,345,123,56,134] 

# Indexing

# print(arr[-1])
# print(arr[1])

# Slicing

# [startindex : end index : step ]
# print(arr[::-1])

[134, 56, 123, 345, 234, 7, 6, 5, 4, 3, 2]

In [41]:
# is array given

# take a reference value

# check with every value

# if value checked is > ref value change ref value to checked value


arr = [2,1,4,5,6,7,234,345,123,56,134] 

ref_value = arr[0]

lenarr = len(arr)

for i in range(lenarr):
    if (arr[i] < ref_value):
        ref_value = arr[i]
        
print(ref_value)

1

In [16]:
# Array functions

arr = [2,8,5,7,3,1,6,9]

[2, 8, 5, 7, 3, 1, 6]

In [19]:
# Array max and min

arr = [2,8,5,7,3,1,6,9]
max_value = arr[0]
min_value = arr[0]
arrlen = len(arr)
for i in range (arrlen):
    if (arr[i]> max_value):
        max_value = arr[i]
        
    if (arr[i]< min_value):
        min_value = arr[i]
    
print(f'Max = {max_value} \nMin = {min_value}')

Max = 9
Min = 1

In [57]:
# Sorting

arr = [2,8,5,7,3,1,6,9]




for i in range(len(arr)):
    
    for j in range(i,len(arr)):
        
        if (arr[i] > arr[j]):
            
            temp = arr[j]
            arr[j] = arr[i]
            arr[i] = temp
            
print(arr)

[1, 2, 3, 5, 6, 7, 8, 9]

In [ ]:

first layer
[2,8,5,7,3,1,6,9]
    
    i = 0 == 2

    second layer
    [2,8,5,7,3,1,6,9]


after first outer loop

In [55]:
# Nested loop

names = ['f','y','e','a','b','c','s']

print(f'Original {names}')

for i in range(len(names)):
    
    for j in range(i,len(names)):
#         print(f'outer loop = step {i} value {names[i]} \tinner loop = step {j} value {names[j]}')
        
        if (names[i] < names[j]):
            temp = names[i]
            names[i] = names[j]
            names[j] = temp

print(f'Sorted {names}')

Original ['f', 'y', 'e', 'a', 'b', 'c', 's']
Sorted ['y', 's', 'f', 'e', 'c', 'b', 'a']